/* 文字を真ん中に配置 */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* スタートボタンのフォーム */
.large-form {
  font-size: 50px;
  width: 150px;
  height: 100px;
}

/* スタートの文字のフォーム */
.start-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 入力フォーム */
.large-input {
  font-size: 30px;
  width: 300px;
  height: 60px;
  text-align: center;
}

/* 結果表示のフォーム */
.result-container {
  font-size: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* カウントダウン表示のフォーム */
.countdown-container {
  font-size: 80px;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 計算文表示のフォーム */
.sentence-container {
  font-size: 40px;
  text-align: center;
  margin: 20px;
}

/* 選択肢ボタンのスタイル */
.choice-button {
  font-size: 40px;
  width: 150px;
  height: 70px;
  margin: 10px;
}

/* Next画面のスタイル */
.next-container {
  font-size: 80px;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  height: 100vh; /* 画面全体を使用 */
  margin-top: 0px; /* 文字を上に移動 */
}
