/* 文字を真ん中に配置 */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* スタートボタンのフォーム */
.large-form {
  font-size: 40px;
  width: 120px;
  height: 80px;
}

/* スタートの文字のフォーム */
.start-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 入力フォーム */
.large-input {
  font-size: 30px;
  width: 300px;
  height: 60px;
  text-align: center;
}

/* 結果表示のフォーム */
.result-container {
  font-size: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* カウントダウン表示のフォーム */
.countdown-container {
  font-size: 60px;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 計算文表示のフォーム */
.sentence-container {
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

/* 選択肢ボタンのスタイル */
.choice-button {
  font-size: 30px;
  width: 100px;
  height: 60px;
  margin: 10px;
}
